
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #343957;
  text-decoration: none;
}

a:hover {
  color: #555974;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #cc3366;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #83153a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: #fff;
  color: #111;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar ul li a,
.navbar a {
  
  color: #404356;
 
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 5px;
}


.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: #555974;
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 5px;
  top: calc(100% + 30px);
  margin: 5px 0 0 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #2a2c39;
  margin: 0 5px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #555974;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #fff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #fff;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: transparent;
  /* padding: 5rem ; */
}
.typespp{
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}
.typewriter {
	width: 14.5ch;
	white-space: nowrap;
	overflow: hidden;
  color: #FFF;
	border-right: 4px solid #FFF;
	animation: cursor 1s step-start infinite, 
    text 5s steps(16) alternate infinite;
}
@keyframes cursor {
	0%, 100% { 
    border-color: #FFF; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  flex-direction: column;
  text-align: start;
  position: relative;
  opacity: 1;
  background-color:transparent, #aaaaaa;
  height: 80vh;
  padding: 60px;
}
.carousel-item1{
   background-image: url("/assets/img/background_slider1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   opacity: .5;
}
.carousel-item2{
  background-image: url("/assets/img/background_slider2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
}
.carousel-item3{
  background-image: url("/assets/img/background_slider3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
  /* width: 100%; */
}
.carousel-item img{
  width: 300px;
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 35px;
  width: 40%;
  text-align: start;
  font-weight: 700;
}
#hero h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: start;
  border-bottom: 2px solid orangered;
  font-weight: 700;
}
#hero h4 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 400;
  text-align: start;
  text-transform: uppercase;
  font-weight: 700;
}


#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}

#hero .btn-get-started:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}
.carousel-control-prev {
  left: 15px;
}
.carousel-control-next {
  right: 15px;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }

  #hero h2 {
    font-size: 18px;
  }
  #hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
    padding: 1rem 0rem ;
    margin: 5rem 0;
}
#hero h4 {
 font-size: 16px;
  font-weight: 700;
}
#hero .carousel-container {
 
  padding: 34px;
}
.carousel-item img {
  width: 225px;
}
.features .tab-pane ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.text{
  text-align: center;
  color: #cc3366;
  font-size: 1.5rem;
  font-weight: 700;
}
.text1{
  font-size: 1.3rem;
  font-weight: 700;
}
.text2{
  color: #cc3366;
  font-size: 1.5rem;
  font-weight: 700;
}
.sponsor_center p{
  text-align: center;
}
.text3{
  font-size: 1.1rem;
  font-weight: 600;
}
.sponsor{
  padding-top: 80px;
  background-image: url("/assets/img/background4.jpg");
  background-repeat: no-repeat;
  backface-visibility: #cfcfcf04;
  background-size: cover;
  opacity: 1;
  color: #615e5e;
}
.sponsor_center{
  text-align: center;
}
.sponsor hr{
  /* margin-left: .7rem; */
  color: #444444;
}
.sponsor_center button{
  font-family:  sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #fff;
  background-color: #555974;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #555974;
}
.sponsor_center button:hover{
  color: #fff;
  background-color: #343957;
  border: 2px solid #343957;
}
.spancolor{
  color: #444444;
  font-weight: 900;
}
.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-top: 80px;
  background-image: url("/assets/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.attend {
  padding-top: 80px;
  background-image: url("/assets/img/seminor01.jpg");
  background-repeat: no-repeat;
  backface-visibility: #cfcfcf04;
  background-size: cover;
  opacity: 1;
  color: #fff;
}
.topic{
  padding-top: 80px;
  background-image: url("/assets/img/background3.jpg");
  background-repeat: no-repeat;
  backface-visibility: #cfcfcf04;
  background-size: cover;
  opacity: 1;
  color: #fff;
}
.topic ul li{
  line-height: 1.8rem;
  margin-left: 1.5rem;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #ef6603;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #ef6603;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #ef6603;
}

.about .content .btn-learn-more:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}
.about p{
  font-size: 17px;
  line-height: 2.2rem;
}
.content img{
  border-radius: 10px;
}
.attend img{
  border-radius: 0px;
}
/* .attend ul li{
  line-height: 1.5rem;
} */

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  background-color: #cc3366;
  color: #fff;
}
.fa-regular{
  color: #bd5102;
  margin-right: 10px;
}

.features .nav-link {
  border: 1px solid #d4d6df;
  padding: 15px;
  transition: 0.3s;
  color: #2a2c39;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.features .nav-link:hover {
  color: #ef6603;
}

.features .nav-link.active {
  background: #ef6603;
  color: #fff;
  border-color: #ef6603;
}

.fst-italic li{
  list-style: disc;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }

  .features .nav-link i {
    font-size: 24px;
  }
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ef6603;
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
cards images and content
--------------------------------------------------------------*/
.background_content{
  background-image: url("/assets/img/background_content.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-center{
  text-align: center;
  color: #fff;
}
.icon-center:hover{
  color: #555974;
  cursor: pointer;
}
.icon-center img{
  width: 100%;
}
.icon-center img:hover{
  cursor: pointer;
}
.icon-center h2{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

.target{
  position: relative;
  margin: auto;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  margin-top: 70px;
  background: #f7f8f9;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #404356;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #14151c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 img {
  text-align: center;
  width: 270px;
  height: 140px;
 
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #cc3366;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #83153a;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}